<p>David Karapetyan was born and raised in Los Angeles, California
 and fell in love with music there when 12 years
old, sleeping with his radio tuned to the classical station. He soon after began
playing the piano and composing small classical pieces, a
eventually branching out into jazz, rock, and hip-hop. While earning dual degrees
in mathematics and English Literature from the University of California,
Berkeley, and a Ph.D in mathematics from the University of Notre Dame,
he was involved with the local music scenes in San Francisco and Chicago,
composing and DJing a wide variety of music, including
classical, jazz, hip-hop, EDM, salsa, merengue,
bachata, cumbia, and argentine tango music.  </p>

{#<p> Throughout his professional years he had the chance to play at venues in#}
{#Chicago, LA, DC, San Francisco, Rochester, and others, as well as at many weddings and other#}
{#private events. He has also recently branched out into composition for#}
{#commercials and film. </p>#}

<p>As a composer and DJ, he looks to fuse the classical, jazz, and electronic
traditions to create a new music that is distinctly his own.  </p>


