<p>
    Welcome to my homepage. I received my Ph.D. in Mathematics on May, 2012 from
    the University of Notre Dame
    for research in partial differential equations, and in particular nonlinear
    evolution equations. I also hold dual degrees in Mathematics and English
    Literature from UC Berkeley.
</p>
<p>
    I am currently an Insight Fellow at Insight Data Science. While here, I
    delivered an application to Good Shepherd that isolates the
    features most responsible for student matriculation into LifeLink,
    their college access and success program.
</p>
<p>
    Before joining Insight, I was head data scientist at Rudin Management,
    where my work included designing and implementing
    ensemble forecasting models in Python using the full SciPy stack.
    Models used in the forecasting include
    Random Forests, Gradient Boosted Trees, ARIMA(X), SARIMA(X), and SVM.
    Work experience is detailed in my <a
        href={{ url_for('static', filename='pdfs/resume.pdf') }}>resume</a>.
</p>
<p>
    Please feel free to email me at <a href="mailto:david.karapetyan@gmail.com">david.karapetyan@gmail.com</a>
    if you have comments or questions. Thanks for visiting.
</p>
