<p>DJ Theorem was born in Los Angeles, and fell in love with music there when 12 years
old, sleeping with his radio tuned to the classical station. He soon after began
playing the piano, and branching out into jazz, rock, and hip-hop. Since 2011,
he has been producing and DJing classical, jazz, hip-hop, EDM, salsa, merengue,
bachata, cumbia, and tango music.  </p>

<p> Throughout his professional years he had the chance to play at venues in
Chicago, LA, DC, San Francisco, Rochester, and others, as well as at many weddings and other
private events. He has also recently branched out into composition for
commercials and film. </p>

<p>As a DJ and producer, he loves to fuse the classical, jazz, and electronic
traditions to create a new music that is distinctly his own. He is also adept
at mixing and producing tracks for his many collaborators. Nothing pleases him
more than to grow as a musician by constantly tweaking, reading, collaborating,
and tweaking some more. </p>  


