{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    {#    need jquery, bootstrap js, and bootstrap css for everything to work#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='js/jquery.js') }}">\x3C/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<div class="navbar-default navbar-fixed-top">
    <a class="navbar-brand" href="{{ url_for('index') }}">David Karapetyan</a>
    <ul class="nav navbar-nav">
        {{ nav_link('index', 'About') }}
        {{ nav_link('resume', 'Resume') }}
        {{ nav_link('publications', 'Publications') }}
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <br>
            <br>
            <br>
            {% include page_to_insert %}
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-3">
            <br>
            <br>
            <img src="{{ url_for('static', filename='images/cherry_blossoms.jpg') }}" width="250" height="250">
        </div>
    </div>
</div>
</body>
</html>
