{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang='en'>
<head>
    {#    need jquery, bootstrap js, and bootstrap css for everything to work#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='js/jquery.js') }}">\x3C/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {#            different nav bar brand depending on screen size#}
            <div class="visible-xs">
                <a class="navbar-brand" href="#"><img style="max-width:47px; margin-top: -18px;"
                                                      src="{{ url_for('static', filename='images/napoleon.gif') }}"></a>
            </div>
            <div class="visible-md visible-sm visible-lg">
                <a class="navbar-brand" title="DJ Theorem" href="{{ url_for("index") }}">DJ Theorem</a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="nav navbar-nav">
                {{ nav_link('index', 'News') }}
                {{ nav_link('about', 'About') }}
                {{ nav_link('events', 'Events') }}
                {{ nav_link('music', 'Music') }}
                {{ nav_link('contact', 'Contact') }}
            </ul>
            <ul class='nav navbar-nav navbar-right'>
                <li><a href='http://www.twitter.com/dj_theorem'>
                    <i class='fa fa-twitter'></i></a></li>
                <li><a href='http://www.soundcloud.com/djtheorem'>
                    <i class='fa fa-soundcloud'></i></a></li>
            </ul>
        </div>
    </div>
</nav>


{#conditionals on text display with image depending on screen size#}

<div class="container visible-md visible-sm visible-lg">
    <div class="row">
        <div class="col-md-5 col-sm-6"><br> <br> <br>{% include page_to_insert %}
        </div>
        <div class="col-md-4 col-sm-2"></div>
        <div class="col-md-3 col-sm-4">
            <br><br><img style="max-width:250px; margin-top: 0;"
                         src="{{ url_for('static', filename='images/napoleon.gif') }}">
        </div>
    </div>
</div>

<div class="container  visible-xs ">
    <div class="row">
        <div class="col-xs-12">{% include page_to_insert %}
        </div>
    </div>
</div>
</body>
</html>
